<div class="ragnaroks-hero-button-wrapper">
  {{#if hasPoints}}
    <button class="ragnaroks-use-hero">Use Hero Point (<span class="hp-count">{{current}}</span>)</button>
  {{else}}
    <div class="ragnaroks-no-hero">No Hero Points</div>
  {{/if}}

</div>
