<div class="rnk-hero-button-wrapper">
  {{#if hasPoints}}
    <button class="rnk-use-hero">{{localize "rnk-hero-forge.button.useHero"}} (<span class="hp-count">{{current}}</span>)</button>
  {{else}}
    <div class="rnk-no-hero">{{localize "rnk-hero-forge.button.noHero"}}</div>
  {{/if}}

</div>
