<div class="rnk-hero-button-wrapper">
  {{#if hasPoints}}
    <button class="rnk-use-hero"><i class="fas fa-bolt"></i> Use Hero Point ({{current}})</button>
  {{else}}
    <div class="rnk-no-hero">{{localize "rnk-hero-forge.button.noHero"}}</div>
  {{/if}}

</div>
